  
<% if @name==nil %>
  What is your name ?
  <form action="/" method="get">
  <input type="text" name="name" class="rounded">
  <input type="submit">
  </form>  
<% else %>
  Welcome to the game &nbsp <%=@name.capitalize %>
  <br>
  <form action="/" method="get">
    <% (1..(@number_of_items)).each do |num| %>
      <!--<input id="draw" type="image" name="choice" value="<%=num %>" src="/img/img<%=num%>.jpg">-->
      <!--<button type="submit" name="choice" value="<%=num %>"><img src="/img/img<%=num%>.jpg"/></button>-->
      <!--<a href="/" name="choice" value="<%=num%>" type="submit"><img src="/img/img<%=num%>.jpg"></a>-->
      <input class="paper" type="image" name="<%=num%>" src="/img/img<%=num%>.jpg" />
    <% end %>  
  </form>
<% end %>
<h1 id="winner">
  <% if @result %>
    You played with &nbsp <%=@player_move %> against <%=@opponent.capitalize %>
    <br>
    The opponent move was &nbsp<%=@opponent_move %>
    The winner is 
    <br>
    <span id="bigger"><%=@winner.capitalize %></span>
  <% end %>
</h1>